@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CityPlus Reports</h1>
    <p class="lead">Below you can find all available reports for the project.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <ul class="nav navbar-nav">
            @Html.PowerBIAccessToken()
            @Html.Action("Reports", "Home")
        </ul>
    </div>
</div>