<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AzureWorkspaceCollectionKey" value="jXC/EaDaCjD+9PsvaGiGVc7L42wGSR1OmUvFcop3auD9P0tAqh3AD7IUKDH/1camFdhpy+bqCRZyeGvGk3W+6g==" />
    <add key="sqlLogin" value="cityplusio" />
    <add key="sqlPassword" value="CityIoPlus1" />
    <add key="AzureWorkspaceCollectionName" value="powerBiCityStorage" />
    <add key="PowerBIApiUri" value="https://api.powerbi.com" />
    <add key="workspaceName" value="liveReports" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>